In [18]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#importing data set
dataset=pd.read_csv(r'C:\Users\parsamal\Data Cleaning using Scikit-learn Imputer\Data.csv')

#Slicing the data set into independent (X) and dependent variables(y)
X=dataset.iloc[:,:-1]
y=dataset.iloc[:,3]
X.head()

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN

In [19]:
#importing the SimpleImputer class and creating an object imputer
from sklearn.impute import SimpleImputer as Custom_Impute
imputer = Custom_Impute(missing_values=np.nan, strategy= 'mean') #contsructor
imputer= imputer.fit(X.iloc[:,1:3]) #fit just selects paraters and stores it a internal object state 
X.iloc[:,1:3]= imputer.transform(X.iloc[:,1:3]) #tranform method applies the transformation to a particular set of examples
X.head()

   Country   Age        Salary
0   France  44.0  72000.000000
1    Spain  27.0  48000.000000
2  Germany  30.0  54000.000000
3    Spain  38.0  61000.000000
4  Germany  40.0  63777.777778